# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# binaries
hpcut
hpscan_sw
hpscan_ss
sam_skel
bed_skel
grep_skel

# directories
grep
htslib
klib
docs
grep
test